{{^useJQuery}}
define(function () {
{{/useJQuery}}{{#useJQuery}}
define(['jquery'], function ($) {
{{/useJQuery}}

{{^useJQuery}}
{{{defaultSettings}}}
{{/useJQuery}}{{#useJQuery}}
{{{jQuerySettings}}}
{{/useJQuery}}

{{{Builder}}}

{{#useJQuery}}
{{{BuilderJQuery}}}
{{/useJQuery}}

{{#useKeys}}
{{{BuilderKeys}}}
{{/useKeys}}

return Builder;

});