{{^useJQuery}}
define(function () {
{{/useJQuery}}
{{#useJQuery}}
(function ($) {
{{/useJQuery}}

{{^useJQuery}}
{{{defaultSettings}}}
{{/useJQuery}}

{{#useJQuery}}
{{{jQuerySettings}}}
{{/useJQuery}}

{{{Builder}}}

{{#useJQuery}}
{{{BuilderJQuery}}}
{{/useJQuery}}

{{#useKeys}}
{{{BuilderKeys}}}
{{/useKeys}}

return Builder;

{{^useJQuery}}
)());
{{/useJQuery}}
{{#useJQuery}}
)(jQuery));
{{/useJQuery}}