{{^useJQuery}}
{{{defaultSettings}}}
{{/useJQuery}}{{#useJQuery}}
{{{jQuerySettings}}}
{{/useJQuery}}

{{{Builder}}}

{{#useJQuery}}
{{{BuilderJQuery}}}
{{/useJQuery}}

{{#useKeys}}
{{{BuilderKeys}}}
{{/useKeys}}

return Builder;